body{
  color: #fff;
}
.home{
background-image: url(../src/assets/image.jpg);
background-size: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-position: center;
margin: 0;
overflow: hidden;
}

.store{
background-image: url(../src/assets/div2.jpg);
background-size: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-position: center;
margin: 0;
overflow: hidden;
}

.blog{
background-image: url(../src/assets/accra2.jpg);
background-size: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-position: center;
margin: 0;
overflow: hidden;
}

.about{
  background-image: url(../src/assets/not.jpg);
  background-size: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  overflow: hidden;
}

.aboutbody{
    margin-top: 10%;
    color: #fff;
    font-size: 1.2em;
}

.blogbody{
  margin-top: 10%;
  color: #fff;
  font-size: 1.2em;
}

.contact{
background-image: url(../src/assets/share.jpg);
background-size: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-position: center;
margin: 0;
overflow: hidden;
}

.side1{
  font-size: 1.2em;
  margin-top: 5%;
}
.contactForm{
  margin-top: -10px;
}
.thank{
  text-align: center;
  font-size: 2.5em;
  color: #fff;
}
.contact_body{
  margin-top: 5%;
}

.btn-large{
  margin-top: 2%;
}

.container1{
  text-align: center;
}
.card{
  height: 15vh;
  opacity: 0.8;
  width: 90%;
  margin-left: 5%;
}
.name{
  font-size: 1.5em;
  float: left;
  margin-left: 5%;
  padding-top: 2.5%;
}
.view{
  float: right;
  padding-top: 2.5%;
  font-size: 1.2em;
  margin-right: 10%;
  cursor: pointer;
}
.vew:hover{
  color: blue;
}
.home_body{
  margin-top: 15%;
}

.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}
.search{
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  color: #fff;
}
input[type=text]:focus{
  font-size: 2em;
  color: #fff;
}
input[type=text]:focus{
  border-bottom: 2px solid #000;
}
